.pomodoro-timer {
  position: relative;
  height: 200px;
  width: 500px;
  padding-top: 24px;
}


.pomodoro-timer__label {
  position: absolute;
  width: 500px;
  height: 280px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  color: #ffffff;
  font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
}

.progress {
  line-height: 1.5;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  height: 1.25rem;
  overflow: hidden;
  background-color: #e5e9f2;
  border-radius: 4px;
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.progress-bar {
  box-sizing: border-box;
  user-select: none;
  transition: width 1s linear;
  background-color: #29B6F6;
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  animation: progress-bar-stripes 2s linear infinite;
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
